<launch>

<rosparam file="$(find sPrinter_description)/config/diff_drive.yaml" command="load"/> 
<rosparam file="$(find sPrinter_description)/launch/controller.yaml" command="load"/> 
<node name="wheels_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
args="
			diff_drive_controller
			joint_state_controller
      Boggie_right_position_controller 
      Boggie_left_position_controller 
      MainFrame_pitch_position_controller 
      Lens_Y_axis_trans_position_controller 
      Lens_X_axis_trans_position_controller 
      Lens_Y_axis_rot_position_controller 
      Lens_X_axis_rot_position_controller
"/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/sPrinter/joint_states"/>
</node>

<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
	<param name="default_topic" value="/diff_drive_controller/cmd_vel"/>
</node>
</launch>
