<launch>
  <arg name="model" default="$(find sprinter_description)/urdf/sPrinter.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find sprinter_description)/launch/display.rviz"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
</launch>
