<?xml version="1.0"?>
<launch>
    <node pkg="state_estimation" type="state_estimation" name="state_estimation" output="screen"/>

    <node pkg="pose_control" type="pose_control" name="pose_control" output="screen"/>

    <node pkg="printer_control" type="printer_control" name="printer_control" output="screen"/>

    <node pkg="ros_bridge" type="ros_bridge" name="ros_bridge" output="screen"/>

	<include file="$(find gps)/launch/gps.launch"/>
    
</launch>