<launch>
  <arg name="model" default="$(find sprinter_description)/urdf/sPrinter.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
	<node name="state_estimation" pkg="state_estimation" type="state_estimation"/> 
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
