<?xml version="1.0"?>
<launch>
    <arg name="rviz_config" default="$(find sprinter)/rviz/sprinter.rviz"/>
    <node pkg="task_manager" type="task_manager" name="task_manager" output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz_visualization"  respawn="false"
        args="-d $(arg rviz_config)" output="screen">
    </node>
    
</launch>