<launch>

    <include file="$(find state_estimation)/launch/state_estimation.launch" />
    <include file="$(find printer_control)/launch/load_robot_info.launch" />

<!--    <include file="$(find sprinter_robot_model)/launch/demo.launch" />-->

    <node name="printer_control" pkg="printer_control" type="printer_control"
          respawn="false" output="screen">
    </node>

    <param name="/use_sim_time" value="false" />
</launch>